@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
  margin: 20px;
  color: white;
}
h2 {
  margin: 0;
  margin-top: 15px;
  font-size: 2.5rem;
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
