@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Muli, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}
.slider-Container {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: lightgray;
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.1s linear;
  margin: 10px;
}
.slider-Container.change-color {
  background-color: purple;
}
.slide {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: calc(50% - 14px);
  transition: left 0.3s linear 0.1s;
}
.move {
  left: calc(100% - 29px);
}

.choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}
